<%- include('./partials/header'); -%>
    <form method="POST" action="/new" style="margin: 20px;">
        <input placeholder="Enter image name" name="name" type="text"/><br><br>
        <input placeholder="Enter image full url" name="url" type="text"/><br><br>
        <input placeholder="Enter image description" name="details" type="text"/><br><br>
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
<%- include('./partials/footer'); -%>